.env
.tio.tokens.json
data/
__pycache__/
venv/
.github/
credentials.json
TODO.txt
ffmpeg_bin/
dist/
build/
maddieply.spec
media/memes/
media/screenshots/
media/voice_audio/
media/gacha/